@import "header.scss", "section1.scss", "section2.scss", "section3.scss",
	"footer.scss";

* {
	margin: 0;
	overflow-x: hidden;
}

h1,
h2 {
	font-family: "Fraunces", serif;
	color: hsl(211, 66%, 24%);
}

h3 {
	font-family: "Barlow", sans-serif;
	color: hsl(210, 4%, 67%);
	font-weight: 600;
	font-size: 13px;
	margin-top: 10px;
}

h4 {
	font-family: "Barlow", sans-serif;
	font-weight: 900;
	font-size: 18px;
	color: hsl(168, 34%, 41%);
}

p {
	font-family: "Barlow", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: hsl(210, 4%, 67%);
	margin-bottom: 20px;
}

li {
	font-family: "Barlow", sans-serif;
	font-weight: 900;
}

.section1__button1,
.section1__button2 {
	font-family: "Fraunces", serif;
	font-size: 14px;
	background-color: transparent;
	border: none;
	text-decoration: underline 5px solid hsl(51, 100%, 49%);
	cursor: pointer;
}

.section1__button2 {
	text-decoration: underline 5px solid hsl(6, 99%, 69%);
}

/* MEDIA QUERIES FOR MOBILE */

@media (max-device-width: 850px) {
	/* HEADER */

	.header {
		height: 650px;

		.arrow {
			top: 400px;
		}

		.header__nav {
			display: none;
		}

		.header__nav_mobile {
			display: none;
			position: absolute;
			background-color: white;
			text-align: center;
			width: 80%;
			right: 10%;
			top: 100px;

			ul {
				padding: 20px;

				li {
					padding: 13px 0;

					a {
						color: hsl(212, 27%, 19%);
						text-decoration: none;
					}
				}
			}

			.nav_mobile__button {
				font-family: "Fraunces", serif;
				width: 135px;
				height: 50px;
				margin: 20px 0 10px;
				text-align: center;
				cursor: pointer;
				outline: none;
				background-color: hsl(51, 100%, 49%);
				border: none;
				border-radius: 40px;
			}
		}
		.show {
			display: block;
		}

		.header__logo {
			margin: 20px 0 0 10px;

			.logo {
				margin: 0;
			}

			.hamburger {
				display: block;
				margin-right: 20px;
			}
		}

		.header__text {
			h1 {
				font-size: 2rem;
			}
		}
	}

	.arrow {
		position: absolute;
		bottom: 40%;
	}

	/* SECTION1 */

	.section1 {
		grid-template-areas:
			"image1"
			"text"
			"image2"
			"text2"
			"box1"
			"box2";
		grid-template-columns: 1fr;
		align-items: stretch;
		text-align: center;

		.section1__text1,
		.section1__text2 {
			grid-area: text;
			text-align: center;
			padding: 100px 40px;

			p {
				margin: 10px 0 20px;
			}
		}

		.section1__text2 {
			grid-area: text2;
		}

		.section1__image1 {
			grid-area: image1;
			height: 300px;
		}

		.section1__image2 {
			grid-area: image2;
			height: 300px;
		}

		.section1__box1 {
			grid-area: box1;
			justify-content: center;

			.box1__text {
				margin-bottom: 10px;

				h1 {
					font-size: 2.1rem;
				}
			}
		}

		.section1__box2 {
			grid-area: box2;
			justify-content: center;
			height: 500px;

			.box2__text {
				margin-bottom: 10px;

				h1 {
					font-size: 2.1rem;
				}
			}
		}

		.section1__text,
		.box1__text,
		.box2__text {
			h1 {
				font-size: 40px;
			}

			p {
				margin: 20px 0;
			}
		}
	}

	/* SECTION2 */

	.section2 {
		justify-content: center;
		padding: 40px 0;

		.section2__header {
			h1 {
				font-size: 16px;
				margin: 0 auto;
			}
		}
		.section2__users {
			flex-direction: column;
			justify-content: center;

			.emily,
			.thomas,
			.jennie {
				width: 18%;
			}

			p {
				margin: 20px 0;
			}
		}
	}

	.section3 {
		grid-template-columns: repeat(2, 2fr);
	}
}
