* {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  color: #23303e;
  width: 70%;
}

h3 {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  font-weight: 600;
  font-size: 1rem;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  color: #458c7e;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #a7abae;
  width: 70%;
}

li {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
}

/* HEADER */
.header {
  background-image: url("../Images/Desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  padding-top: 50px;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header .header__logo .logo {
  margin-left: 40px;
  height: 30px;
}

.header .header__logo h2 {
  font-size: 2.1rem;
  color: white;
  width: 20%;
  text-align: center;
}

.header .header__logo .hamburger {
  display: none;
}

.header .header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 90px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.header .header__text h1 {
  font-size: 3.1rem;
  letter-spacing: 0.2em;
  color: white;
}

.header .arrow {
  position: absolute;
  left: 49%;
  bottom: 40%;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.header .header__nav ul {
  margin: 0 25px;
  padding: 0;
}

.header .header__nav ul li {
  display: inline;
  padding: 0 25px 0;
  color: white;
  font-size: 18px;
}

.header .header__nav ul li a {
  text-decoration: none;
  color: white;
}

.header .header__nav ul .nav__button {
  font-family: "Fraunces", serif;
  width: 135px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 40px;
}

.header .header__nav ul .nav__button:hover {
  color: white;
  background-color: #26a9d9;
}

/* SECTION 1 */
.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: left;
}

.section1 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section1 p {
  font-size: 1rem;
  margin: 15px 0 20px;
}

.section1 .section1__text1,
.section1 .section1__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.section1 .section1__button1,
.section1 .section1__button2 {
  font-family: "Fraunces", serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  -webkit-text-decoration: underline 5px solid #fad400;
          text-decoration: underline 5px solid #fad400;
  cursor: pointer;
}

.section1 .section1__button2 {
  -webkit-text-decoration: underline 5px solid #fe7162;
          text-decoration: underline 5px solid #fe7162;
}

.section1 .section1__image1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../Images/Desktop/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.section1 .section1__image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../Images/Desktop/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.section1 .section1__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .section1__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-image: url("../Images/Desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 .section1__box1 .box1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 0 auto 50px;
  width: 70%;
}

.section1 .section1__box1 .box1__text h1,
.section1 .section1__box1 .box1__text p {
  color: #25564b;
}

.section1 .section1__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-image: url("../Images/Desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 .section1__box2 .box2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 0 auto 50px;
  width: 70%;
}

.section1 .section1__box2 .box2__text h1,
.section1 .section1__box2 .box2__text p {
  color: #25564b;
}

/* SECTION 1 END */
/* SECTION 2 */
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}

.section2 .section2__header h1 {
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  letter-spacing: 0.4em;
  color: #818498;
}

.section2 .section2__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  text-align: center;
}

.section2 .section2__users .emily,
.section2 .section2__users .thomas,
.section2 .section2__users .jennie {
  border-radius: 50%;
  width: 15%;
  margin: 0 auto;
}

.section2 .section2__users p {
  margin: 35px auto 15px;
  -webkit-margin-collapse: collapse;
  color: #818498;
}

.section2 .section2__users h2 {
  font-size: 1.3rem;
  margin: 0 auto 5px;
  text-align: center;
}

/* SECTION 3 */
.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  justify-items: stretch;
}

.section3 .milk,
.section3 .oranges,
.section3 .cone,
.section3 .cubes {
  width: 100%;
}

/* FOOTER  */
.footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background: #95d4c6;
  padding-top: 50px;
}

.footer h2 {
  font-size: 30px;
  color: #458c7e;
  margin: auto auto 30px;
  text-align: center;
}

.footer .footer__list {
  margin: auto 0 20px;
}

.footer .footer__list ul {
  padding: 0;
  font-size: 16px;
}

.footer .footer__list ul li {
  display: inline;
  margin: 0 30px;
  list-style-type: none;
  color: #458c7e;
}

.footer .footer__list ul li a {
  text-decoration: none;
  color: #458c7e;
}

.footer .footer__list ul li a:hover {
  color: white;
}

.footer .footer__media {
  margin: 20px auto 50px;
}

.footer .footer__media .media__icons {
  margin: 0 15px;
}

@media (max-device-width: 800px) {
  .header {
    height: 600px;
  }
  .header .arrow {
    top: 350px;
  }
  .header .header__nav {
    display: none;
  }
  .header .hamburger {
    display: block !important;
    margin-right: 40px;
  }
  .arrow {
    position: absolute;
    bottom: 40%;
  }
  .section1 {
        grid-template-areas: "image1" "text" "image2" "text2" "box1" "box2";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }
  .section1 .section1__text1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text;
    height: 400px;
  }
  .section1 .section1__text1 p {
    margin: 20px 0;
  }
  .section1 .section1__text2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: text2;
    height: 400px;
  }
  .section1 .section1__text2 p {
    margin: 20px 0;
  }
  .section1 .section1__image1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image1;
    height: 300px;
  }
  .section1 .section1__image2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: image2;
    height: 300px;
  }
  .section1 .section1__box1 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: box1;
    height: 700px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section1 .section1__box1 .box1__text {
    width: 2000px;
  }
  .section1 .section1__box2 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: box2;
    height: 700px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section1 .section1__box2 .box2__text {
    width: 2000px;
  }
  .section1 .section1__text h1,
  .section1 .box1__text h1,
  .section1 .box2__text h1 {
    font-size: 40px;
  }
  .section1 .section1__text p,
  .section1 .box1__text p,
  .section1 .box2__text p {
    margin: 20px 0;
    font-size: 20px;
  }
  .section2__users {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2__users .users__thomas {
    margin: 65px 0;
  }
  .section3 {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
}
/*# sourceMappingURL=styles.css.map */